#counter{
  position: fixed;
  z-index: 99;
  top: 12px;
  left: 12px;
}

.game-all{
    width: 100%;
    height: 100vh;
    border-bottom: 111px solid var(--black-primary);
    position: relative;
}

.forest{
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.game{
    width: 100%;
    height: 200px;
    padding-bottom: 56px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.game-all > div:last-child{
    z-index: 95;
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: 72px;
    justify-content: center;
}


#dino {
    width: 50px;
    height: 50px;
    background-image: url(../sources/images/monster_icon.svg);
    background-size: cover;
    position: relative;
    top: 150px;
    left: 20px;
    z-index: 1;
  }
  
  .jump {
    animation: jump 0.3s linear;
  }
  
  @keyframes jump {
    0%{top: 150px;}
    30%{top: 90px;}
    70%{top: 90px;}
    100%{top: 150px;}
  }
  
  #cactus {
    width: 50px;
    height: 60px;
    position: relative;
    top: 90px;
    left: 100%;
  
    background-image: url("../sources/images/trash.svg");
    background-size: cover;
  
  }
  
  @keyframes block {
    0% {
      left: 100%;
    }
  
    100% {
      left: -5%;
    }